@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
figure{
  margin: 0;
}
img{
  display: inline-block;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}
h1,h2,h3, figure, p, ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  background-color: #566573 ; 
  margin: 0px;
  font: 1.6rem "Montserrat", sans-serif;
  line-height: 1.5;
}
header{
  background-color: #566573 ;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
 
}


header  h1{
  color: #fafafa;
  font-size: 2.8rem;
  font-weight: 300;
  
}
main{
  color: #222;
  margin: 5.0rem;
}

section h2{
  font-size: 2.4rem;
  text-align: center;
  margin: 2.0rem 0;
}
figure h2{
  margin: 0;
}
#container-detail{
  color: #222;
  margin: 1.0rem 0;

  padding: 1.0rem;
}
/* theme detail */
.grid-figure{
  max-width: 80rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.grid-figure p{
  text-align: justify;
}
.grid-figure ul{
  padding-top: 1rem;
}
.wrapper ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
ul .film figcaption{

  padding: 1rem 0 0;
   
}

 ul .film  a{
display: block;
color: white;
background: linear-gradient(96.16deg, #271df1 3.98%, #083b97  72.64%);
border: 1px solid;
line-height: 3.5rem;
cursor: pointer;
text-align: center;
border-radius: 0.5rem;
font-weight: 500;
border-radius: .4rem;
text-decoration: none;

}

.container-button a{
  text-decoration: none;
}
.button-blue{
  display: block;
  background: #1045ea 44%;
background: radial-gradient(circle, #083b97 52%, #1045ea 100%);
  color: white;
  padding: 1.5rem;
  border-radius: .4;
  border: 1rem solid;
  max-width: 30rem;
  margin: 2rem auto;
  text-align: center;
}
.button-blue:hover{
  transition: color 0.3s;

  color: #222;
  background: #fff;
  border: 1rem solid;
  border-color: #ff1e1e;
}
 footer{
   background-color: white;
   color: #fafafa;
   padding: 2.0rem 1.0rem;
   background-color: #222;
 }
 footer p{
   text-align: center;
 }
 header img{
 width : initial

}
fieldset{
  text-align: center;
}
footer{
  position: fixed
  botom : 0;
  margin : 0;
  width 
}