@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  background-color: #566573 ; 
  margin: 0px;
  font: 1.6rem "Montserrat", sans-serif;
  line-height: 1.5;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
figure{
  margin: 0;
}
img{
  display: inline-block;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

h1,h2,h3, figure, p, ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

header{
  background-color: #566573 ;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
 
}


header  h1{
  color: #fafafa;
  font-size: 2.8rem;
  font-weight: 300;
  
}
main{
  color: #fff;
  margin: 5.0rem;
}

section h2{
  font-size: 2.4rem;
  text-align: center;
  margin: 2.0rem 0;
}
figure h2{
  margin: 0;
}
#container-detail{
  color: #fff;
  margin: 1.0rem 0;

  padding: 1.0rem;
}
/* theme detail */
.grid-figure{
  max-width: 80rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat( 2, 1fr);
  gap: 1rem;
}

.grid-figure p{
  text-align: justify;
}
.grid-figure ul{
  padding-top: 1rem;
}
.wrapper ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
ul .film figcaption{

  padding: 1rem 0 0;
   
}

 ul .film  a{
display: block;
color: white;
background: linear-gradient(96.16deg, #558af1 3.98%, #4c85f4  72.64%);
border: 1px solid;
line-height: 3.5rem;
cursor: pointer;
text-align: center;
border-radius: 0.5rem;
font-weight: 500;
border-radius: .4rem;
text-decoration: none;

}

.container-button a{
  text-decoration: none;
}
.button-blue a{
  display: block;
  background: #1045ea 44%;
background: radial-gradient(circle, #4c85f4 52%, #558af1 100%);
  color: white;
  padding: 1.5rem;
  border-radius: .4;
  border: 1rem solid;
  max-width: 30rem;
  margin: 2rem auto;
  text-align: center;
}
.button-blue:hover{
  transition: color 0.3s;

  color: #222;
  background: #fff;
  border: 1rem solid;
  border-color: #0daba1;
}
 footer{
   background-color: white;
   color: #fafafa;
   padding: 2.0rem 1.0rem;
   background-color: #222;
 }
 footer p{
   display: grid;
   align-items: center;
   height: 20vh;
   font-size: smaller;
   text-align: center;
   background-color: #222;
 }
 header img{
 width : initial

}


.button-blue {
  display: block;
  background: #1045ea 44%;
background: radial-gradient(circle, #4c85f4 52%, #558af1 100%);
  color: white;
  padding: 1rem;
  border-radius: .4;
  border: 1rem solid;
  max-width: 30rem;
  margin: 2rem auto;
  text-align: center;
}

strong{
  color: #222;
}
h2{
  color: #222;
}
form{
  display: inline-block;
  text-align: center;
 width: 50%;
 margin: 0 auto;
 padding: 0;
  }
  form label{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;

  }
 
  @media screen and (max-width: 900px) {
    main {
      margin: 0em 1em 0em 1em;
    }
    header {
      text-align: center;
    }
    h2 {
      font-size: 3em;
    }
    #grid > ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1em;
    }
    a > p {
      text-align: center;
      color: #fff;
      font-size: large;
      font-weight: 500;
      background-color: #ff725c;
      padding: 0.5em;
      padding-left: 2em;
      padding-right: 2em;
      transition: background-color 0.5s;
    }
  }